<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon fixed-top bg-transparent">
  <div class="d-flex justify-content-start">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="search mt-2 flex-grow-1">
      <%= form_tag products_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %>
        <div class="search-form-control form-group mt-1 mb-0">
          <%= text_field_tag :query,
              params[:query],
              class: "search-input form-control string required",
              id: "search_query",
              placeholder: "Recherchez",
              value: ""
          %>
          <%= button_tag(type: "submit", class: "btn btn-flat") do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
